<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head');%>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%-include('partials/header');%>
    <div class="container mt-5">
        <nav aria-label="breadcrumb" class="small">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/main/dashboard"><i class="fa-solid fa-house me-1"></i>Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
            </ol>
        </nav>
        <hr>
        <a href="/adm/data/kegiatan" class="btn btn-secondary btn-sm">Kembali</a>

        <h2 class="mb-4">Input Pengumuman</h2>
        <form method="POST" action="/adm/data/pengumuman" class="row g-3" enctype="multipart/form-data">
            <div class="col-md-6">
                <label for="nama_kegiatan" class="form-label">Nama Pengumuman</label>
                <input type="text" class="form-control" id="judul_pengumuman" name="judul_pengumuman" required>
            </div>

            <div class="col-md-6">
                <label for="tanggal_kegiatan" class="form-label">Tanggal Pengumuman</label>
                <input type="date" class="form-control" id="tanggal_pengumuman" name="tanggal_pengumuman" required>
            </div>
        
            <div class="col-12">
                <label for="deskripsi_kegiatan" class="form-label">Deskripsi Pengumuman</label>
                <textarea class="form-control" id="deskripsi_pengumuman" name="deskripsi_pengumuman" rows="3" required></textarea>
            </div>
            <div class="col-12">
                <label for="foto_kegiatan" class="form-label">Berkas Pengumuman (PDF)</label>
                <input type="file" id="file" name="file" accept="application/pdf">
     
                <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Notifikasi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Kegiatan berhasil ditambahkan!
                </div>
                <div class="modal-footer">
                    <a href="/adm/data/kegiatan" class="btn btn-secondary">Close</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="/js/currentDate.js"></script>
</body>
</html>
